//Colors
// :root {
//   --color-text: #f8f8f8;
//   --color-background: #191d2d;
//   --color-primary: #232fb3;
//   --color-dark: #191d2d;
//   --color-secondary: #27ae60;
//   --color-shadow: #333;

//   --gray-0: #f8f8f8;
//   --gray-1: #dbe1e8;
//   --gray-2: #b2becd;
//   --gray-3: #6c7983;
//   --gray-4: #454e56;
//   --gray-5: #2a2e35;
//   --gray-6: #12181b;
// }

//Sizing
$website-width: 1280px;
$br-sm-2: 14px;
$grid-height: 400px;
$medium-color: #ccc;

//Functions
$section-trans: all 0.4s ease-in-out;

//text color manager
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return $color-dark;
  } @else {
    @return #fff;
  }
}
