.container {
  max-width: $website-width;
  // width: 90%;
  margin: auto;
  overflow: hidden;
  // padding: 0 2rem;
}

.section {
  width: 100%;
  margin: 5rem 0 1rem 0;
}

.pad-2 {
  padding: 2rem;
}
.pad-3 {
  padding: 3rem;
}
.pad-4 {
  padding: 4rem;
}

.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.heading {
  font-size: 2.2rem;
  letter-spacing: 4px;
  color: #2a7a4a;
}

.center-middle {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0.5rem;
}

.heavy {
  font-weight: 800;
  font-size: 1.4rem;
}

// .underscore {
// }

%btn-all {
  width: 160px;
  height: 50px;
  padding: 0.8rem 1.4rem;
  transition: background-color 0.5s, box-shadow 0.5s;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn {
  &-light {
    @extend %btn-all;
    background-color: #2a7a4a;
    color: white;

    &:hover {
      background-color: #28af60;
      box-shadow: 0 0 10px 1px rgba(27, 59, 27, 0.906);
    }
  }
}

.invisible {
  display: none;
}
