@import 'config';
@import 'utilities';

:root {
  --color-text: #f8f8f8; //Alt text for light theme #131931
  --color-background: #131830;
  // --color-background: #181e38;
  --color-primary: #232fb3;
  --color-primary2: #1f2952;
  --color-dark: #191d2d;
  --color-accent-light: #28af60;
  --color-accent-medium: #2a7a4a;
  --color-accent-dark: #17472b;
  --color-shadow: #333;

  --gray-0: #f8f8f8;
  --gray-1: #dbe1e8;
  --gray-2: #b2becd;
  --gray-3: #6c7983;
  --gray-4: #454e56;
  --test-s: #6262629d;
  --gray-5: #2a2e35;
  --gray-6: #12181b;

  --tab-color: #191d2d;
  --tab-hover: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  // font-family: 'Roboto', sans-serif;

  font-size: 1.1rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

//Additional Utilities

.highlight-text {
  color: var(--color-accent-medium);
}

.header-border {
  box-shadow: 0 0 8px 1px var(--color-accent-medium);
}

.active-tab {
  background: var(--color-accent-medium);
  border-radius: 10px 0 0 0;
  // box-shadow: 1px 0px 3px 1px var(--color-accent-dark);
}

//Global header/navbar--------------------------------------------

#header {
  background: var(--color-background);
  position: sticky;
  top: 0;
  min-height: 12vh;
  width: 100%;
  z-index: 22;
  margin: 10 auto 0;
  padding: 10px;

  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $website-width;
    margin: auto;

    .logo-back {
      background-color: #131830;
      border-radius: 50%;
      width: 85px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 8px 1px var(--color-accent-medium);

      .logo {
        width: 45px;
      }
    }

    .right-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      #theme-switch {
        right: 2rem;
        width: 110px;
        font-size: 0.9rem;
        background: #f8f8f8;
        color: #131830;

        opacity: 0.8;
        border-radius: 10px 0px 0px 10px;
        letter-spacing: 1px;
        text-align: center;
        cursor: pointer;
      }

      ul {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        width: 500px;
        padding: 0.5rem 0;

        li {
          color: var(--color-text);
          border-bottom: 3px transparent solid;
          padding-bottom: 0.5rem;
          transition: border-color 0.5s;

          &:hover {
            cursor: pointer;
            border-bottom: 3px var(--color-text) solid;
          }

          &.current {
            border-bottom: 3px var(--color-accent-light) solid;
          }
        }
      }
    }
  }
}

//Home Page-------------------------------------------------------

#home {
  &-landing {
    #landing-content {
      display: flex;
      justify-content: space-between;
      height: 87vh;
      width: 100%;
      overflow: hidden;

      #intro-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        .my-name {
          font-size: 4rem;
          font-weight: 800;
          margin: 1rem 0;
          font-family: 'Roboto', sans-serif;
        }
        p {
          margin-bottom: 4rem;
          font-size: 1.4rem;
        }
      }

      #headshot-card {
        width: 50%;
        display: flex;
        flex-direction: column;

        .test {
          position: relative;
          height: 100%;

          .circle {
            position: absolute;
            border-radius: 50%;

            &-one {
              @extend .circle;
              top: 20%;
              left: 25%;
              height: 450px;
              width: 450px;
              background: radial-gradient(
                var(--color-accent-medium) 20%,
                #69d194 80%,
                var(--color-accent-medium) 70%
              );
              // background-color: var(--color-accent-light);
              box-shadow: 0 0 20px 6px var(--color-accent-dark);
              z-index: 3;
            }

            &-two {
              @extend .circle;

              top: 5%;
              left: 40%;
              // top: -1010px;
              // left: 300px;
              height: 500px;
              width: 350px;
              background: radial-gradient(
                var(--color-accent-medium) 45%,
                var(--color-dark) 75%,
                // white 90%
              );
              // var(--color-dark) 80%,
              // white 90%
              // white 90%
              box-shadow: 0 0 22px 8px var(--color-accent-medium);
              // background-color: var(--color-accent-medium);
              // box-shadow: 0 0 22px 8px rgb(233, 233, 233);
              z-index: 2;
            }
          }
          img {
            position: absolute;
            bottom: 0;
            left: 20%;
            // bottom: -159px;
            // left: 100px;
            max-width: 450px;
            z-index: 10;
          }
        }
      }
    }
  }

  &-special {
    background: var(--color-primary2);
    color: #f8f8f8;
    width: 100%;
    border-top: 3px solid var(--color-accent-medium);
    text-align: center;

    #specials {
      display: flex;
      justify-content: space-evenly;
      margin-top: 7rem;

      .spec-item {
        width: 300px;
        height: 320px;
        background: #1c2446;
        border: solid 3px var(--color-accent-light);
        border-radius: 10px;
        margin: 1rem;
        padding: 1.4rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .spec-desc {
          height: 205px;

          p.center-middle {
            height: 100px;
          }
        }

        .icon-frame {
          position: absolute;
          top: -20%;
          left: 25%;
          background: var(--color-accent-light);
          border-radius: 50%;
          width: 130px;
          height: 130px;

          i {
            color: #f8f8f8;
            // font-weight: 400;
            // align-items: center;
            // padding: 1.6rem;
          }
        }

        .label-frame {
          height: 90px;
          margin-bottom: 0.5rem;
        }
      }
    }

    a {
      margin: 3rem;
    }
  }

  &-approach {
    border-top: 3px solid var(--color-accent-medium);

    text-align: center;

    p {
      text-align: left;
    }
  }
}

// About Page

#about {
  height: 800px;
  width: 100%;
  border-top: 3px solid var(--color-accent-medium);
  text-align: center;

  &-bio {
    #bio-card {
      display: flex;
      margin-top: 2rem;

      img {
        width: 500px;
        height: 500px;
        margin-right: 2rem;
      }

      #bio-text {
        border-left: 2px solid var(--color-accent-medium);

        p {
          padding: 0 0 1rem 2rem;
          text-align: left;
        }
      }
    }
  }

  &-experience {
    background: var(--color-primary2);
    color: #f8f8f8;
    height: 800px;
    width: 100%;
    border-top: 3px solid var(--color-accent-medium);
    text-align: center;

    #timeline {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 500px;
      width: 100%;
      position: relative;

      #grid-card {
        display: grid;
        grid-template-rows: 200px 100px 200px;
        grid-template-columns: repeat(5, 260px);
        grid-template-areas:
          't1 t2 t3 t4 t5'
          'd1 d2 d3 d4 d5'
          'b1 b2 b3 b4 b5';
        align-items: center;
        justify-content: flex-end;
        z-index: 1;

        .date-block {
          display: flex;
          align-items: center;
          // justify-content: center;
          z-index: 1;

          .box {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-accent-medium);
            width: 140px;
            height: 40px;
            border-radius: 5px 0 0 5px;
          }

          .triangle {
            border-left: solid 40px var(--color-accent-medium);
            border-top: solid 20px transparent;
            border-bottom: solid 20px transparent;
          }
        }

        #date-1 {
          grid-area: d1;
        }
        #date-2 {
          grid-area: d2;
        }
        #date-3 {
          grid-area: d3;
        }
        #date-4 {
          grid-area: d4;
        }
        #date-5 {
          grid-area: d5;
        }
        #exp-1 {
          grid-area: t1;
        }
        #exp-2 {
          grid-area: b2;
        }
        #exp-3 {
          grid-area: t3;
        }
        #exp-4 {
          grid-area: b4;
        }
        #exp-5 {
          grid-area: t5;
        }

        .top {
          border-left-width: 3px;
          border-left-style: solid;
          /* border-image: linear-gradient(to bottom, rgb(49, 120, 49), var(--background))
            1 100%; */
          border-image: linear-gradient(
              to top,
              var(--color-primary2),
              rgba(61, 128, 61, 0.568) 40%,
              rgba(139, 210, 139, 0.688) 70%,
              rgb(64, 135, 64) 80%
            )
            1 100%;
          text-align: left;
        }

        .bottom {
          border-left-width: 3px;
          border-left-style: solid;
          border-image: linear-gradient(
              to bottom,
              var(--color-primary2),
              rgba(61, 128, 61, 0.568) 40%,
              rgba(139, 210, 139, 0.688) 70%,
              rgb(64, 135, 64) 80%
            )
            1 100%;
          align-items: end;
          text-align: left;
        }

        .exp-item {
          padding-left: 1rem;

          .exp-label {
            font-weight: 700;
            font-size: 1.1rem;
            margin-bottom: 1rem;
          }

          // p {
          //   font-size: 1rem;
          // }
        }
      }
      .line {
        width: 100%;
        border-bottom: solid 2px var(--color-accent-medium);
        position: absolute;
      }

      .date {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
      }
    }
  }

  &-testimonials {
    height: 800px;
    width: 100%;
    border-top: 3px solid var(--color-accent-medium);
    text-align: center;

    .test-card {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
      // padding: 0 0.5rem;

      .test-tile {
        display: flex;
        align-items: center;
        flex-direction: column;
        // background: #131830;
        // background: var(--gray-0);
        background: var(--color-primary2);
        border-radius: 5%;
        height: 470px;
        width: 400px;
        overflow: hidden;
        // padding: 1rem;
        border: 2px solid var(--color-accent-medium);
        box-shadow: 0px 2px 5px 1px #17472ba4;
        // box-shadow: 0px 2px 5px 1px var(--color-accent-dark);
        // box-shadow: 0px 2px 5px 1px var(--gray-4);
        // position: relative;

        .test-text {
          position: relative;
          color: #131931;
          background: var(--gray-0);
          height: 280px;
          // width: 99%;
          border-radius: 15px;
          padding: 2.5rem;
          display: flex;
          align-items: center;
          text-align: left;
          font-size: 1.2rem;

          p {
            z-index: 1;
            margin-left: 1rem;
          }

          .arrow {
            position: absolute;
            border-left: 0 solid transparent;
            border-right: 30px solid transparent;
            border-top: 30px solid var(--gray-0);
            top: 100%;
            left: 75%;
            z-index: 2;
          }

          i {
            color: var(--color-accent-medium);
            // width: 20%;
            position: absolute;
            top: 2%;
            left: 2%;
            // bottom: 4%;
            // right: 7%;
            opacity: 1;
            z-index: 0;
          }
        }

        .test-bio {
          display: flex;
          align-items: center;
          // justify-content: space-between;
          text-align: left;
          margin-top: 2rem;
          padding: 1rem;
          color: #f8f8f8;
          // background: #131830;
          // height: 100%;
          width: 100%;
          // position: relative;

          img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            border: 3px solid var(--color-accent-light);
            // position: absolute;
            left: 5%;
            top: 30%;
            margin-right: 2.2rem;
          }

          .test-name {
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}

//Work Page-------------------------------------------------------

#work {
  &-portfolio {
    min-height: 900px;
    text-align: center;

    #tabs {
      display: flex;
      justify-content: end;
      margin: 2rem 0;
      border-bottom: var(--color-accent-medium) 2px solid;

      #tab-list {
        display: flex;
        justify-content: end;
        max-width: 80%;
        background: var(--tab-color);
        border-radius: 10px 0 0 0;

        .tab {
          position: relative;
          color: #f8f8f8;
          font-size: 1.4rem;
          padding: 0.5rem 1.5rem;
          cursor: pointer;

          // &:first-child {
          //   border-radius: 10px 0 0 0;
          //   color: red;
          // }

          &:hover {
            color: var(--color-accent-medium);
            background: var(--tab-hover);
            border-radius: 10px 0 0 0;
            box-shadow: 0px -1px 5px 0px var(--color-accent-medium);
          }
        }
      }
    }

    #project-tiles {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .tile {
        position: relative;
        width: 400px;
        height: 400px;
        margin: 0.5rem;
        border-radius: 2%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        overflow: hidden;

        &-text {
          position: absolute;
          transform: translateY(100%);
          transition: opacity 1s ease, transform 0.8s ease;
          height: 100%;
          width: 100%;
          z-index: 3;
          color: #f8f8f8;
          opacity: 0;
        }

        &:hover .tile-text {
          // color: red;
          opacity: 1;
          transform: translateY(70%);
        }

        img {
          width: 400px;
          height: 400px;
          object-fit: fill;
          // margin: 1rem;
          transition: 0.2s;
        }

        &:hover img {
          transform: scale(1.1);
        }

        &::before {
          content: '';
          background: linear-gradient(
            #0e592c87 5%,
            #2a7a4a8b 10%,
            #29be65ee 50%,
            var(--color-accent-light)
          );
          position: absolute;
          // top: 0;
          // left: 0;
          height: 100%;
          width: 100%;
          transform: translateY(100%);
          transition: all 0.2s ease-in;
          // height: 400px;
          // width: 400px;
          z-index: 2;
        }

        &:hover::before {
          transform: translateY(0);
        }
      }
    }

    // &-projects {
    // }
  }
}

//Contact
#contact {
}

//Footer

#footer {
  border-top: var(--color-accent-medium) solid 1px;
  background-color: #131830;
  color: #f8f8f8;

  .footer-content {
    height: 80px;

    .socials {
      width: 210px;
      .social-icons {
        width: 80px;
        i {
          color: #f8f8f8;

          &:hover {
            color: var(--color-accent-light);
          }
        }
      }
    }
  }
}

//Import media queries
// @import 'media';

//   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

// @media screen and (max-width: 500px) {
//   .grid {
//     display: grid;
//     grid-template-rows: auto;
//     grid-template-columns: auto;
//     grid-template-areas:
//       'f1'
//       'a1'
//       'f2'
//       'c2'
//       'f3'
//       'a3'
//       'f4'
//       'c4'
//       'f5'
//       'a5';

//     padding: 1rem;
//     align-items: center;
//     justify-content: flex-end;
//   }

//   .item {
//     padding: 1rem;
//     border-left-width: 3px;
//     border-left-style: solid;
//     /* border-image: linear-gradient(
//         to top,
//         var(--background),
//         rgba(61, 128, 61, 0.568) 40%,
//         rgba(139, 210, 139, 0.688) 70%,
//         rgb(64, 135, 64) 80%
//       )
//       1 100%; */
//     border-image: linear-gradient(
//         to bottom,
//         rgb(27, 109, 27),
//         rgba(87, 179, 87, 0.568) 40%,
//         var(--background) 80%
//       )
//       20 100%;
//   }

//   .line {
//     display: none;
//   }
// }
